* {
	margin: 0;
	padding: 0;

}

.navbar {

	border: none;
	background-color: black;
	color: #bd4e0a;
}

body {
	background-color: #bd4e0a;
	color: white;
}

.glyphicon {
	font-size: 30px;
	color: #bd4e0a;
}

.center {
	width: 90%;
	background-color: rgb(158, 151, 151);

}

.container {
	background-color: rgb(158, 151, 151);
}

.text-center {
	font-size: 30px;
}

h2 {
	text-align: center;
}

#myNavbar ul li a {
	color: #bd4e0a;
}

.navbar-brand {
	font-size: 30px;
}